.vscode/**
.vscode-test/**
.github/**
**/node_modules/**
extension/src/**
language-server/src/**
language-server/pegjs/*.pegjs
extension/out/**
language-server/out/**
!extension/out/
!extension/out/extension.js
!extension/out/debugAdapter.js
!language-server/out/
!language-server/out/server.js
**/*.ts
**/*.d.ts
**/*.map
**/*.tsbuildinfo
**/tsconfig*.json
**/.DS_Store
**/*.log
npm-debug.log*
yarn.lock
pnpm-lock.yaml
package-lock.json
*.vsix
.gitignore
vsc-extension-quickstart.md
